/*-----------------------------------------------------------------------------

author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://www.cobadesigns.com/
-----------------------------------------------------------------------------*/
/* =@imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =variables
-----------------------------------------------------------------------------*/
/* =mixins
-----------------------------------------------------------------------------*/
/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 39, ../sass/main-style.scss */
a:link, a:visited, a:hover, a:focus, a:active
* {
  margin: 0;
  padding: 0;
}

/* Class for clearing floats */
/* line 45, ../sass/main-style.scss */
.clear {
  clear: both;
}

/* =Typography
-----------------------------------------------------------------------------*/
/* line 52, ../sass/main-style.scss */
body, html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  width: 100%;
  max-width: 100%;
}

/* line 59, ../sass/main-style.scss */
header {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* line 65, ../sass/main-style.scss */
div#header-wrap, section#events {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}

/* line 71, ../sass/main-style.scss */
.social {
  position: absolute;
  top: 1.5em;
  right: 46em;
  width: 3.5%;
}
/* line 77, ../sass/main-style.scss */
.social img {
  width: 2em;
  margin-right: 1%;
}
/* line 81, ../sass/main-style.scss */
.social img:last-child {
  margin-right: 0 !important;
}

/* line 87, ../sass/main-style.scss */
.main-nav {
  float: right;
  position: relative;
  top: 7.5em;
  max-width: 41.4em;
  width: 100%;
}
/* line 94, ../sass/main-style.scss */
.main-nav ul {
  margin: 0;
  padding: 0;
}
/* line 98, ../sass/main-style.scss */
.main-nav ul li {
  list-style: none;
  margin-right: 4%;
  display: inline-block;
  margin: 0em 1em 0em 0em;
  overflow: hidden;
}
/* line 105, ../sass/main-style.scss */
.main-nav ul li:last-child {
  margin-right: 0 !important;
}
/* line 109, ../sass/main-style.scss */
.main-nav ul li a {
  text-decoration: none;
  font-size: 1.6em;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
/* line 116, ../sass/main-style.scss */
.main-nav ul li a:hover, .main-nav ul li a:focus, .main-nav ul li a:active {
  color: #45c4ed;
}

/* line 124, ../sass/main-style.scss */
section#static-img {
  height: 60em;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-image: url(../imgs/slid-5.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 5em;
}
/* line 134, ../sass/main-style.scss */
section#static-img h1 {
  color: white;
  border: solid 1px green;
  width: 100%;
  max-width: 8.6em;
  margin: 0 auto;
  display: block;
  font-size: 6em;
  font-style: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}
/* line 147, ../sass/main-style.scss */
section#static-img h2 {
  color: white;
  border: solid 1px green;
  width: 100%;
  max-width: 5em;
  margin: 0 auto;
  display: block;
  font-size: 2em;
  font-style: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* line 161, ../sass/main-style.scss */
section#events {
  border-top: solid 3px #45c4ed;
}
/* line 166, ../sass/main-style.scss */
section#events h1 {
  text-align: center;
  color: gray;
  background-color: white;
  position: relative;
  top: -0.7em;
  width: 100%;
  max-width: 12em;
  margin: 0 auto;
}

/* line 178, ../sass/main-style.scss */
div.event-wrap {
  border: solid 1px green;
  height: 30em;
}

/* line 183, ../sass/main-style.scss */
div.nevents {
  max-width: 30em;
  width: 100%;
  border: solid 1px red;
  float: left;
  box-sizing: border-box;
  padding: 2%;
  margin-right: 4.82%;
  background-color: #DCDCDC;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -ms-border-radius: 0.9em;
  border-radius: 0.9em;
}
/* line 194, ../sass/main-style.scss */
div.nevents:last-child {
  margin-right: 0 !important;
}
/* line 198, ../sass/main-style.scss */
div.nevents h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 3em;
}
/* line 204, ../sass/main-style.scss */
div.nevents p {
  font-size: 1.4em;
}
