/*-----------------------------------------------------------------------------

author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://www.cobadesigns.com/
-----------------------------------------------------------------------------*/
/* =@imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =variables
-----------------------------------------------------------------------------*/
/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 28, ../sass/main-style.scss */
a:link, a:visited, a:hover, a:focus, a:active
* {
  margin: 0;
  padding: 0;
}

/* Class for clearing floats */
/* line 34, ../sass/main-style.scss */
.clear {
  clear: both;
}

/* =Typography
-----------------------------------------------------------------------------*/
/* line 41, ../sass/main-style.scss */
body, html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

/* line 46, ../sass/main-style.scss */
header {
  width: 100%;
  max-width: 100%;
  border: solid 1px red;
  margin: 0 auto;
}

/* line 53, ../sass/main-style.scss */
div#header-wrap {
  width: 100%;
  max-width: 100em;
  border: solid 1px green;
  margin: 0 auto;
}

/* line 62, ../sass/main-style.scss */
.social img {
  width: 3em;
  border: solid 1px red;
  position: absolute;
  top: 0;
  right: 20em;
}

/* line 71, ../sass/main-style.scss */
.main-nav {
  border: solid 1px red;
  float: right;
  position: relative;
  top: 4.5em;
  max-width: 40em;
  width: 100%;
}
/* line 79, ../sass/main-style.scss */
.main-nav ul {
  margin: 0;
  padding: 0;
}
/* line 83, ../sass/main-style.scss */
.main-nav ul li {
  list-style: none;
  margin-right: 4%;
  display: inline-block;
}
/* line 88, ../sass/main-style.scss */
.main-nav ul li:last-child {
  margin-right: 0 !important;
}
/* line 92, ../sass/main-style.scss */
.main-nav ul li a {
  text-decoration: none;
  font-size: 1.4em;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
